/*
    This imports default colors, you can use them with the syntax `var(--variable-name)`.
    Example:
        border: 3px solid var(--border-color);
*/
@import '/static/public/styles/1.0.0/variables.css';

/*
label {
    display:block;
}
*/

.main {
    display: flex;
    flex: 0 1 100%;
    border: red 5px;
}

.deployment {
    display: flex;
    flex-direction: row;
}

#local_server_url {
    font-weight: bold;
}

#remote_server_url {
    font-weight: bold;
}

.python-code-form {
    min-width: 300px;
    height: 100%;
    flex-basis: 100%;
}

.algo-name {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.algo-name div {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    max-width: 300px;
}

.algo-name div > input {
    flex-grow: 0
}

.algo-name div > span {
    flex-grow: 1
}

.python-code {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.grey-border {
    border: solid 1px gray;
}

/*
.code-mirror {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.code-mirror #code-mirror{
    border: solid 1px black;
    height: 250px;
    flex-grow: 1;
}
*/


.deploy-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.deploy-button input {
    flex-grow: 0;
}

.deploy-button span {
    padding-left: 1em;
    flex-grow: 1
}

.deploy-button .spinner {
    flex-grow: 0;
    flex-basis: 40px;
}

.button-disable {
    cursor: not-allowed;
    pointer-events: none;

    /*Button disabled - CSS color class*/
    color: #c0c0c0 !important;
    background-color: #ffffff !important;
}

.hide {
    display: none;
}



