/*
    This imports default colors, you can use them with the syntax `var(--variable-name)`.
    Example:
        border: 3px solid var(--border-color);
*/
@import '/static/public/styles/1.0.0/variables.css';

@import '../dataiku/styles/variables.css';



.views-widget {
    display: flex;
    flex-direction: column;
}

.views-list {
    display: flex;
    flex-direction: column;
    border: 1px solid black ;//var(--border-color);
    margin-left: 0;
    min-height: 200px;
    max-height: 500px;
    overflow: scroll;
}


.views-list li {
    list-style-type: none;
    cursor: pointer;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 3px;
}

.views-list li:hover {
    background-color: rgb(59, 153, 252);
    color: white;
}

.views-list-selected {
    background-color: rgb(59, 153, 252);
    color: white;
}

.views-buttons {
    display: flex;
    flex-direction: row;
}

.views-buttons button {
    padding: 5px 10px !important;
}


.fetch-dataset-container {
    display: flex;
    width: 100%;
}

.fetch-dataset-container section, .fetch-dataset-container form {
    height: 100%;
    overflow: auto;
}

.error-message {
    color: var(--error-red);
    font-size: 16px;
    font-weight: bold;
}

.fetch-dataset-form {
    min-width: 300px;
}

.fetch-dataset-results {
    margin-top: 20px;
    border: 3px solid var(--border-color);
    width: 100%;
    font-size: 16px;
    background-color: var(--grey-background);
    color: var(--grey);
    min-height: 300px;
}

#message {
    white-space: pre-wrap;
}
