/*
    This imports default colors, you can use them with the syntax `var(--variable-name)`.
    Example:
        border: 3px solid var(--border-color);
*/
@import '/static/public/styles/1.0.0/variables.css';

@import '../dataiku/styles/variables.css';

/*
    MODAL
 */

/* The Modal (background) */

.modal-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Sit on top */
    position: fixed;
}

.modal {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    overflow: auto;
    border: 1px solid var(--blue-border-color);
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    flex-grow: 1;
    background-color: #fefefe;
    /*margin: 15% auto; !* 15% from the top and centered *!*/
    /*padding: 20px;*/
    /*border: 1px solid #888;*/
    /*width: 80%; !* Could be more or less, depending on screen size *!*/
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*
    VIEWS
 */

.views-manage {
    display: flex;
    flex-direction: column;
}

.views-manage h1 {
    margin-bottom: 20px;
}

.views-widget {
    display: flex;
    flex-direction: column;
}

.views-list {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--blue-border-color);
    margin-left: 0;
    margin-bottom: 3px;
    min-height: 200px;
    max-height: 300px;
    overflow: scroll;
}


.views-list li {
    list-style-type: none;
    cursor: pointer;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 3px;
}

.views-list li:hover {
    background-color: var(--blue);
/ / rgb(59, 153, 252);
    color: white;
}

.views-list-selected {
    background-color: var(--blue-lighten-2);
    color: white;
}

.views-buttons {
    display: flex;
    flex-direction: row;
}

.views-buttons button {
    padding: 5px 10px !important;
}

.views-buttons button:disabled {
    color: var(--grey-lighten-4);
    border-color: var(--grey-lighten-4);
}

.views-buttons button:disabled:hover {
    background-color: unset;
    color: var(--grey-lighten-4);
}

.upload-dataset {
    margin-top: 10px;
}

.fetch-dataset-container {
    display: flex;
    width: 100%;
}

.fetch-dataset-container section, .fetch-dataset-container form {
    height: 100%;
    overflow: auto;
}

.error-message {
    color: var(--error-red);
    font-size: 16px;
    font-weight: bold;
}

.fetch-dataset-form {
    min-width: 300px;
}

.fetch-dataset-results {
    margin-top: 20px;
    border: 3px solid var(--border-color);
    width: 100%;
    font-size: 16px;
    background-color: var(--grey-background);
    color: var(--grey);
    min-height: 300px;
}

#message {
    white-space: pre-wrap;
}
